In [ ]:
dict_cart = {'1': '', '2': '', '3': '', '4': '', '5': '', '6': '', '7': '', '8': '', '9': '2', 'Submit': 'Submit'}
print(dict_cart)

In [ ]:

menu = [(1, 'Hamburger', 'Main Dishes', 6.0, '180g Patty, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (2, 'Chesseburger', 'Main Dishes', 6.69, '180g Patty, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, '180g Patty, bacon, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (4, 'Double Cheeseburger', 'Main Dishes', 7.5, '2x 180g Patty, , cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (5, 'Water', 'Drinks', 3.5, '5l Ensinger Sport'), (6, 'Augustiner Helles', 'Drinks', 4.2, ''), (7, 'French Fries', 'Side Dishes', 3.9, 'Crispy housemade frenchfries'), (8, 'Chicken Wings', 'Side Dishes', 6.2, 'Crispy housemade chicken wings with sweet honey mustard sauce'), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 'Fresh ceasar salad with housemade ceasar dressing')]
print(menu)

In [ ]:
dict_cart = { k:v for k, v in dict_cart.items() if v }
del dict_cart['Submit']
print(dict_cart)

In [ ]:
new_menu =  {}
for x in dict_cart:
    i = int(x)
    new_menu[x] = [dict_cart[x], menu[i-1]]

new_menu

In [ ]:
list_cart = new_menu
print(list_cart)

In [ ]:
print(list_cart['9'][1][1])

In [ ]:
for x in list_cart:
    print(x)
    n= list_cart[x][0]
    print(n)

for i in range(int(n)):
    print("Hello")

In [ ]:
def submit_order_by_table(table_ID, item_ID):
    s = "INSERT INTO restbesttables (table_id, item_id) VALUES ( "
    s += table_ID 
    s += ","
    s += item_ID
    s += ");"
    return s

In [ ]:
submit_order_by_table("234", "12")

In [ ]:
def get_order_of_table(table_ID):
    s = "Select * from restbesttables where table_id='"
    s += table_ID 
    s += "');"
    return s

In [ ]:
get_order_of_table("234")

In [ ]:
def get_order_of_table(table_ID):
    s = "with get_all as ("
    s +="SELECT rm.id as id, rm.name, rm.type,rm.price "
    s +="FROM restbesttables rt, restbestmenu rm "
    s +="where rt.table_id = "
    s +=table_ID
    s +=" and rm.id = rt.item_id "
    s +="), get_anz as ("
    s +="SELECT rm.id iddd, count(*) cnt "
    s +="FROM restbesttables rt, restbestmenu rm "
    s +="where rt.table_id = "
    s +=table_ID
    s +=" and rm.id = rt.item_id "
    s +="group by rm.id"
    s +=") "
    s +="select distinct * "
    s +="from get_all a, get_anz b "
    s +="where a.id = b.iddd;"
    return s

In [ ]:
get_order_of_table("123")

1. get all distinct table
2. for each table get orders

In [ ]:
    
def get_distinct_table():
    s = "select distinct(table_id) from restbesttables"

In [ ]:
table = [(69,), (6969,), (123,)]
table

In [ ]:
list = []
for x in table:
    list.append(x[0])

list

In [ ]:
order_of_one_table = [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]
dict = {}
dict["2123"] = order_of_one_table
dict

In [ ]:
{'69': [(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), 
        (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)], 
'6969': [(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1)], 
'123': [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), 
        (5, 'Water', 'Drinks', 3.5, 5, 8), 
        (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), 
        (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]}

69
[(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)]


this ist temp
6969
[(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1)]


this ist temp
123
[(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]


[(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)]


[(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]

# Menu List View
[(1, 'Hamburger', 'Main Dishes', 6.0, '180g Patty, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), 
(2, 'Chesseburger', 'Main Dishes', 6.69, '180g Patty, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), 
(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, '180g Patty, bacon, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), 
(4, 'Double Cheeseburger', 'Main Dishes', 7.5, '2x 180g Patty, , cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (5, 'Water', 'Drinks', 3.5, '5l Ensinger Sport'), (6, 'Augustiner Helles', 'Drinks', 4.2, ''), (7, 'French Fries', 'Side Dishes', 3.9, 'Crispy housemade frenchfries'), (8, 'Chicken Wings', 'Side Dishes', 6.2, 'Crispy housemade chicken wings with sweet honey mustard sauce'), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 'Fresh ceasar salad with housemade ceasar dressing')]

def delete_items(table_id, item_id, amount):
    s = """ 
        DELETE FROM restbesttables
        WHERE id  IN (
            SELECT id 
            FROM restbesttables rt
            WHERE rt.table_id = %s
            AND rt.item_id = %s
            limit %s) 
        """ %(table_id, item_id, amount)

In [ ]:
def delete_items(table_id, item_id, amount):
    s = """ 
        DELETE FROM restbesttables
        WHERE id  IN (
            SELECT id 
            FROM restbesttables rt
            WHERE rt.table_id = %s
            AND rt.item_id = %s
            limit %s) 
        """ %(table_id, item_id, amount)
    return s

In [ ]:
delete_items("55555", "1", "1")

1. Button f√ºr liste
2. submit und send querry

In [79]:
og_list = {'55555': [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 6), (4, 'Double Cheeseburger', 'Main Dishes', 7.5, 4, 3), (5, 'Water', 'Drinks', 3.5, 5, 5), (7, 'French Fries', 'Side Dishes', 3.9, 7, 3), (8, 'Chicken Wings', 'Side Dishes', 6.2, 8, 3), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 7)], '6969': [(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1)], '123': [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)], '69': [(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)]}
dif_list= {'55555, 3': '6', '55555, 4': '0', '55555, 5': '0', '55555, 7': '3', '55555, 8': '3', '55555, 9': '7', '6969, 1': '1', '123, 3': '4', '123, 5': '8', '123, 7': '2', '123, 9': '2', '69, 1': '1', '69, 2': '1', 'Submit': 'Enter'}

In [86]:
n_og_list = []
for x in og_list:
    for n in og_list[x]:
        a = n[0]
        b = n[5]
        t = (x,a,b)
        n_og_list.append(t)

n_dif_list = []
if "Submit" in dif_list:
    del dif_list['Submit']
for x in dif_list:
    c = dif_list[x]
    x = x.split(", ")
    t = (x[0],int(x[1]),int(c))
    n_dif_list.append(t)

items = []
for a in n_og_list:
    for b in n_dif_list:
        if a[0] == b[0] and a[1] == b[1] and a[2] != b[2]:
            t = (a[0],str(a[1]),str(a[2]-b[2]))
            items.append(t)
items

[('55555', '4', '3'), ('55555', '5', '5')]

In [88]:
for x in items:
    a = x[0]
    b = x[1]
    c = x[2]
    print(a,b,c)

55555 4 3
55555 5 5

In [ ]:
<h3>Menu</h3>
<form method="POST" action="#">
  {%for x in menu_list%}
  <p>
    {{x[1]}}
    <input type="number" name="{{x[0]}}" min="0" />
  </p>
  {%endfor%}
  <p><input type="submit" name="Submit" value="Go to cart" /></p>
</form>

In [2]:
dict_cart = {'1': '0', '2': '0', '3': '0', '4': '0', '5': '0', '6': '0', '7': '0', '8': '0', '9': '4'}
n_dict_cart ={}
for x in dict_cart:
    if dict_cart[x] != '0':
        n_dict_cart[x] = dict_cart[x]
n_dict_cart

{'9': '4'}