In [111]:
dict_cart = {'1': '', '2': '', '3': '', '4': '', '5': '', '6': '', '7': '', '8': '', '9': '2', 'Submit': 'Submit'}
print(dict_cart)

{'1': '', '2': '', '3': '', '4': '', '5': '', '6': '', '7': '', '8': '', '9': '2', 'Submit': 'Submit'}

In [112]:

menu = [(1, 'Hamburger', 'Main Dishes', 6.0, '180g Patty, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (2, 'Chesseburger', 'Main Dishes', 6.69, '180g Patty, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, '180g Patty, bacon, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (4, 'Double Cheeseburger', 'Main Dishes', 7.5, '2x 180g Patty, , cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (5, 'Water', 'Drinks', 3.5, '5l Ensinger Sport'), (6, 'Augustiner Helles', 'Drinks', 4.2, ''), (7, 'French Fries', 'Side Dishes', 3.9, 'Crispy housemade frenchfries'), (8, 'Chicken Wings', 'Side Dishes', 6.2, 'Crispy housemade chicken wings with sweet honey mustard sauce'), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 'Fresh ceasar salad with housemade ceasar dressing')]
print(menu)

[(1, 'Hamburger', 'Main Dishes', 6.0, '180g Patty, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (2, 'Chesseburger', 'Main Dishes', 6.69, '180g Patty, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, '180g Patty, bacon, cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (4, 'Double Cheeseburger', 'Main Dishes', 7.5, '2x 180g Patty, , cheddar cheese, housemade burger sauce, salad, tomatoes, pickled cucumber, caramilized onions'), (5, 'Water', 'Drinks', 3.5, '5l Ensinger Sport'), (6, 'Augustiner Helles', 'Drinks', 4.2, ''), (7, 'French Fries', 'Side Dishes', 3.9, 'Crispy housemade frenchfries'), (8, 'Chicken Wings', 'Side Dishes', 6.2, 'Crispy housemade chicken wings with sweet honey mustard sauce'), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 'Fresh ceasar salad with housemade ceasar dressing')]

In [113]:
dict_cart = { k:v for k, v in dict_cart.items() if v }
del dict_cart['Submit']
print(dict_cart)

{'9': '2'}

In [114]:
new_menu =  {}
for x in dict_cart:
    i = int(x)
    new_menu[x] = [dict_cart[x], menu[i-1]]

new_menu

{'9': ['2',
  (9,
   'Ceasar Salad',
   'Side Dishes',
   4.5,
   'Fresh ceasar salad with housemade ceasar dressing')]}

In [131]:
list_cart = new_menu
print(list_cart)

{'9': ['2', (9, 'Ceasar Salad', 'Side Dishes', 4.5, 'Fresh ceasar salad with housemade ceasar dressing')]}

In [124]:
print(list_cart['9'][1][1])

Ceasar Salad

In [139]:
for x in list_cart:
    print(x)
    n= list_cart[x][0]
    print(n)

for i in range(int(n)):
    print("Hello")

9
2
Hello
Hello

In [125]:
def submit_order_by_table(table_ID, item_ID):
    s = "INSERT INTO restbesttables (table_id, item_id) VALUES ( "
    s += table_ID 
    s += ","
    s += item_ID
    s += ");"
    return s

In [126]:
submit_order_by_table("234", "12")

'INSERT INTO restbesttables (table_id, item_id) VALUES ( 234,12);'

In [145]:
def get_order_of_table(table_ID):
    s = "Select * from restbesttables where table_id='"
    s += table_ID 
    s += "');"
    return s

In [146]:
get_order_of_table("234")

"Select * from restbesttables where table_id='234');"

In [153]:
def get_order_of_table(table_ID):
    s = "with get_all as ("
    s +="SELECT rm.id as id, rm.name, rm.type,rm.price "
    s +="FROM restbesttables rt, restbestmenu rm "
    s +="where rt.table_id = "
    s +=table_ID
    s +=" and rm.id = rt.item_id "
    s +="), get_anz as ("
    s +="SELECT rm.id iddd, count(*) cnt "
    s +="FROM restbesttables rt, restbestmenu rm "
    s +="where rt.table_id = "
    s +=table_ID
    s +=" and rm.id = rt.item_id "
    s +="group by rm.id"
    s +=") "
    s +="select distinct * "
    s +="from get_all a, get_anz b "
    s +="where a.id = b.iddd;"
    return s

In [152]:
get_order_of_table("123")

'with get_all as (SELECT rm.id as id, rm.name, rm.type,rm.price FROM restbesttables rt, restbestmenu rm where rt.table_id = 123 and rm.id = rt.item_id ), get_anz as (SELECT rm.id iddd, count(*) cnt FROM restbesttables rt, restbestmenu rm where rt.table_id = 123 and rm.id = rt.item_id group by rm.id) select distinct * from get_all a, get_anz b where a.id = b.iddd;'

1. get all distinct table
2. for each table get orders

In [ ]:
    
def get_distinct_table():
    s = "select distinct(table_id) from restbesttables"

In [155]:
table = [(69,), (6969,), (123,)]
table

[(69,), (6969,), (123,)]

In [166]:
list = []
for x in table:
    list.append(x[0])

list

[69, 6969, 123]

In [167]:
order_of_one_table = [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]
dict = {}
dict["2123"] = order_of_one_table
dict

{'2123': [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4),
  (5, 'Water', 'Drinks', 3.5, 5, 8),
  (7, 'French Fries', 'Side Dishes', 3.9, 7, 2),
  (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]}

In [ ]:
{'69': [(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), 
        (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)], 
'6969': [(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1)], 
'123': [(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), 
        (5, 'Water', 'Drinks', 3.5, 5, 8), 
        (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), 
        (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]}

69
[(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)]


this ist temp
6969
[(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1)]


this ist temp
123
[(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]


[(1, 'Hamburger', 'Main Dishes', 6.0, 1, 1), (2, 'Chesseburger', 'Main Dishes', 6.69, 2, 1)]


[(3, 'Bacon Cheesebuger', 'Main Dishes', 7.1, 3, 4), (5, 'Water', 'Drinks', 3.5, 5, 8), (7, 'French Fries', 'Side Dishes', 3.9, 7, 2), (9, 'Ceasar Salad', 'Side Dishes', 4.5, 9, 2)]